bs4
flickrapi
gensim
geopandas
h5py
imageio
internetarchive
ipython
jupyter
keras
librosa
matplotlib
mwparserfromhell
notebook>5.4.1
Pillow
plyvel
sklearn
spotipy
tensorflow-gpu==1.12.0
tqdm
twitter
emoji
gutenberg
nltk
inflect
svglib
psycopg2-binary
