bs4
flickrapi
gensim
geopandas
h5py
imageio
internetarchive
ipython
jupyter
keras
librosa
matplotlib
mwparserfromhell
notebook>=5.7.2
Pillow
plyvel
pyyaml>=4.2b1
requests>=1.23
sklearn
spotipy
tensorflow
tqdm
